.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.centered-align {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.align-list{
  align-items: center;
  justify-content: center;
}
.img-logo{
  height:3.7vh;
  width:2vw;
}
footer li{
  list-style: none;
  padding:0 12px;
}
footer li a{
  text-decoration: none;
}
@media (max-width:1250px) and (min-width:1000px){
  .img-logo{
    height:5.0vh;
    width:2.9vw;
  }
}
@media (max-width:1000px) and (min-width:960px){
  .img-logo{
    height:3.8vh;
    width:2.3vw;
  }
}
@media (max-width:960px) and (min-width:900px){
  .img-logo{
    height:3.8vh;
    width:2.4vw;
  }
}
@media (max-width:900px) and (min-width:800px){
  .img-logo{
    height:3.8vh;
    width:2.67vw;
  }
}
@media (max-width:800px) and (min-width:670px){
  .img-logo{
    height:3.8vh;
    width:3.1vw;
  }
}
@media (max-width:669px) and (min-width:640px){
  .img-logo{
    height:3.8vh;
    width:3.3vw;
  }
}
@media (max-width:639px) and (min-width:600px){
  .img-logo{
    height:3.8vh;
    width:3.5vw;
  }
}
@media (max-width:600px) and (min-width:500px){
  .img-logo{
    height:3.8vh;
    width:4.3vw;
  }
}
@media (max-width:500px) and (min-width:480px){
  .img-logo{
    height:3.8vh;
    width:4.2vw;
  }
}
@media (max-width:480px) and (min-width:400px){
  .img-logo{
    height:3.8vh;
    width:4.9vw;
  }
}
@media (max-width:400px) and (min-width:350px){
  .img-logo{
    height:3.8vh;
    width:6.2vw;
  }
}
@media (max-width:350px) and (min-width:300px){
  .img-logo{
    height:3.8vh;
    width:23px;
  }
}
@media (max-width:300px) and (min-width:100px){
  .img-logo{
    height:3.8vh;
    width:7.5vw;
  }
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}